@import '../../../styles.scss';
@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/sizes.scss';
@import '../../../assets/scss/theming/theme.scss';

.personal-report-component {

    padding-bottom: 20px;

    .report-heading {
        padding: 0 25px;
    }

    .header {
        height: $report-header-height;
        line-height: $report-header-height;
        margin: $margin-content-containers;
    }

    .table-header-cell {
        @include themify($themes) {
            background-color: themed('tableHeaderColor');
            &:not(:nth-child(2)) {
                text-align: center;
              }
        }

        color: $color-white;
        font-weight: bold;

        .k-icon,
        .k-sort-order {
            color: white;
        }
    }

    .table-cell {
        text-align: center;
    }

    .table-header-cell-poor{
        background-color: red !important;
    }

    .table-header-cell-fair{
        background-color: orangered !important;
    }

    .table-header-cell-good{
        background-color: greenyellow !important;
    }

    .table-header-cell-very-good{
        background-color: green !important;
    }

    .table-header-cell-very-excellent{
        background-color: purple !important;
    }

    label {
        margin-bottom: 0;
        margin-right: 15px;
        cursor: pointer;
        user-select: none;
        color: $color-dark-gray;
        float: left;
    }

    .material-icons {
        vertical-align: middle;
        color: $color-dark-gray;
    }

    input[type="checkbox"] {
        cursor: pointer;
        appearance: none;
        outline: 0;
        height: $small-size;
        width: $small-size;
        border: 1px solid $color-dark-gray;
        outline: none;
        border-radius: 2px;
    }

    input[type="checkbox"]:checked {
        background: $color-dark-gray;
    }

    input[type="checkbox"]:hover {
        filter: brightness(90%);
    }

    input[type="checkbox"]:after {
        content: '';
        position: relative;
        left: 25%;
        top: -5%;
        width: 50%;
        height: 85%;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        display: none;
    }

    input[type="checkbox"]:checked:after {
        display: block;
    }

    .person-score-view{
        padding-top: 1em;
        padding-bottom: 1em;
    }
}