<div class="general-insights-component content-container padded">
  <span class="header">
    general insights
  </span>

  <div class="topic">
    <i class="material-icons">zoom_out_map</i>
    <div>
      <span>keyboard_arrow_right</span>
      <p>ddfgfdfhghdfkgfdhgkdfhjghdfjghfdhgkdfhgjdfhgjdf
        fdgdfgdfgdfgdfgfdgdfgdfffffffffffffffffffffff
        dfggggggggggggggggggggggggggggggggggggggggggg
        dfgggggggggggggggsggg</p>
    </div>
  </div>

  <div class="topic">
    <i class="material-icons">arrow_upward</i>
    <div>
      <span>keyboard_arrow_right</span>
      <p>dgsggg</p>
    </div>
  </div>

  <div class="topic">
    <i class="material-icons">arrow_downward</i>
    <div>
      <span>keyboard_arrow_right</span>
      <p>dgsggg</p>
    </div>
  </div>
</div>