//colors
$color-accelium-red: #e41e26;
$color-accelium-yellow: #f99f1c;
$color-accelium-green: #79c144;
$color-accelium-blue: #0f5da5;
$color-accelium-purple: #793f85;
$color-accelium-bgLight: #45566b;
$color-accelium-bgMain: #242d38;
$color-accelium-bgDark: #192028;
$color-accelium-bgBlack: #0c1014;
$color-accelium-yellowGreen: #809400;
$color-accelium-darkgreen: #00a651;


//default colours
$color-white: #ffffff;
$color-gray: gray;
$color-dark-gray: #666666;
$color-black: #000000;

$default-box-shadow: 0 0 2px 0.1px #000 inset;