

//colors
$color-accelium-red: #e41e26;
$color-accelium-yellow: #f99f1c;
$color-accelium-green: #79c144;
$color-accelium-blue: #0f5da5;
$color-accelium-purple: #793f85;
$color-accelium-bgLight: #45566b;
$color-accelium-bgMain: #242d38;
$color-accelium-bgDark: #192028;
$color-accelium-bgBlack: #0c1014;

//colors related to theme which primary color is green
$color-accelium-greentheme: #809400;
$color-accelium-greentheme-uno-purple: rgb(121, 62, 133);
$color-accelium-greentheme-duo-orange: rgb(251, 105, 0);
$color-accelium-greentheme-tres-green: rgb(49, 198, 117);

//colors related to theme which primary color is blue
$color-accelium-bluetheme: #0f5da5;
$color-accelium-bluetheme-uno-green: rgb(150, 172, 0);
$color-accelium-bluetheme-duo-orange: rgb(251, 105, 0);
$color-accelium-bluetheme-tres-green: rgb(49, 198, 117);

//colors related to theme which primary color is purple
$color-accelium-purpletheme: #793f85;
$color-accelium-purpletheme-uno-blue: rgb(13, 162, 255);
$color-accelium-purpletheme-duo-green: rgb(49, 198, 117);
$color-accelium-purpletheme-tres-purple: rgb(121, 62, 133);

