$padding-page-head: 13%;
$height-standart-toolbar: 62px;

$margin-content-containers: 10px;
$standard-page-padding: 10%;
$standard-content-padding: 5%;
$default-organization-border-radius: 20px;
//
$default-right-margin: 5%;

$extra-small-size: 14px;
$small-icon-size: 18px;
$medium-icon-size: 24px;
$large-icon-size: 32px;
$extra-large-icon-size: 48px;
