@import '../../../../styles.scss';
@import '../../../../assets/scss/theming/theme.scss';

.topic {
  padding-top: 10px;

  i {
    @include themify($themes) {
      color: themed('headlineColor');
    }

    display: inline-block;
    vertical-align: top;
  }

  div {
    padding-left: 10px;
    display: inline-block;
    width: 95%;

    span {
      @include themify($themes) {
        color: themed('headlineColor');
      }

      font-weight: 700;
    }

    p {}
  }
}
