@import '../../../styles.scss';
@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/sizes.scss';
@import '../../../assets/scss/theming/theme.scss';

.report-component {
  .header {
    height: $report-header-height;
    line-height: $report-header-height;
    margin: $margin-content-containers;
  }
}

.table-header-cell {
  @include themify($themes) {
    background-color: themed('tableHeaderColor');
  }

  color: $color-white;
  font-weight: bold;

  .k-icon,
  .k-sort-order {
    color: white;
  }
}
