<div class="general-insights-component content-container padded">
  <div class="row no-gutters pb-2 central-vertical-align">
    <div class="col-lg-4 col-md-5 col-12">
      <span class="header">
        Performance
      </span>
    </div>
    <div class="col-lg-8 col-md-7 col-12">
      <span>Choose comparison group:</span>
      <deepwater-select [optionsCollection]="options" [(selected)]="selectedOption"></deepwater-select>
    </div>

  </div>

  <div class="row no-gutters">
    <div class="col-12">
      <deepwater-bullet-charts [chartData]="chartData"></deepwater-bullet-charts>
    </div>
  </div>
</div>