<div class="theme-greentheme">

  <deepwater-page-head
  [title]="'some project report'"
  ></deepwater-page-head>

  <div class="page-overlay">
    <div class="content-overlay">
      
      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-user-info></deepwater-user-info>
        </div>
      </div>


      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-top-leaders></deepwater-top-leaders>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
         <deepwater-performance-with-comparison
         [bulletChartData]="personReport"
         >
         </deepwater-performance-with-comparison>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-general-insights
          [insights]="generalInsights"
          ></deepwater-general-insights>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-report-with-ranking
          [personalScoreData]="personalScoreReports"
          >
          </deepwater-report-with-ranking>
        </div>
      </div>

    </div>
  </div>

</div>