<div class="theme-greentheme">

  <deepwater-page-head></deepwater-page-head>

  <div class="page-overlay">
    <div class="content-overlay">
      
      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-personal-reports [personalScoreData]="personalScoreReports" [personScoreData]="personScoreReports"></deepwater-personal-reports>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-user-info></deepwater-user-info>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-performance-with-comparison
          [bulletChartData]="personReport"
          ></deepwater-performance-with-comparison>
        </div>
      </div>

    </div>
  </div>

</div>