<div class="theme-bluetheme">

    <deepwater-page-head
    [title]="'some project report'"
    ></deepwater-page-head>

  <div class="page-overlay">
    <div class="content-overlay">

      <div class="row no-gutters achievements same-height">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <deepwater-persons-count></deepwater-persons-count>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <deepwater-testimonial-completion-rate 
         [testimonials]="testimonials">
          </deepwater-testimonial-completion-rate>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <deepwater-skills-list></deepwater-skills-list>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-barcharts-comparison-horizontal
            [comparisonData]="[groupPerformanceComparerProfile1, groupPerformanceComparerProfile2]">
          </deepwater-barcharts-comparison-horizontal>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-progress-widget 
          [registered]="256" [passive]="20" 
          [active]="7" [completed]="100">
          </deepwater-progress-widget>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-completion [gamesData]="gamesData"></deepwater-completion>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-group-insights
          [insights]="insights"
          [radarChartData]="radarChartData"
          ></deepwater-group-insights>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-comments></deepwater-comments>
        </div>
      </div>

    </div>
  </div>

</div>