<div class="theme-bluetheme">

  <deepwater-page-head></deepwater-page-head>

  <div class="page-overlay">
    <div class="content-overlay">

      <div class="row no-gutters achievements same-height">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <deepwater-persons-count></deepwater-persons-count>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <deepwater-testimonial-completion-rate
          [testimonial]="'Analitycal ability'"
          [valueNumer]="4"
          [allNumber]="28"
          ></deepwater-testimonial-completion-rate>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <deepwater-skills-list></deepwater-skills-list>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-completion [gamesData]="gamesData"></deepwater-completion>
        </div>
      </div>

    </div>
  </div>

</div>