<div class="content-overlay">

  <div class="row no-gutters achievements">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <deepwater-persons-count-component></deepwater-persons-count-component>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <deepwater-completion-chart-component></deepwater-completion-chart-component>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
      <deepwater-skills-list-component></deepwater-skills-list-component>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12">
      <deepwater-insights-component></deepwater-insights-component>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12">
      <deepwater-progress-widget-component></deepwater-progress-widget-component>
    </div>
  </div>


  <div class="row no-gutters">
    <div class="col-12">
      <deepwater-report-component></deepwater-report-component>
    </div>
  </div>

</div>
