<!--The content below is only a placeholder and can be replaced.-->
<div class="page-head">

  <img src="/assets/img/15554663825950.jpg">

  <div class="toolbar top">

  </div>



  <div class="toolbar navigation">
    <div class="dropdown col-3">
      <button class="dropbtn active">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a class="active" href="#">Link 2</a>
          <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
</div>

<div class="page-overlay">
  <router-outlet></router-outlet>
</div>
