<!--The content below is only a placeholder and can be replaced.-->
<div class="page-head">

  <img class="header-image" src="/assets/img/15554663825950.jpg">

  <div class="toolbar top no-gutters">
    <div class="dropdown col-6">
      <img src="" alt="">
    </div>
    <div class="dropdown organization col-5 text-right pr-3">
      <button class="dropbtn organization-title w-100" (click)="isOrganizationMenuOpened = !isOrganizationMenuOpened">
        Organization info
      </button>
      <div *ngIf="isOrganizationMenuOpened" class="organization-content text-left row no-gutters">
        <div class="col-lg-3 col-md-12">
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <p class="organization-content-header">Organitation</p>
              <p class="organization-content-body">slovakia banks</p>
            </div>
            <div class="col-12 col-sm-6">
              <p class="organization-content-header">Status</p>
              <p class="organization-content-body">Open</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <p class="organization-content-header">period</p>
              <p class="organization-content-body">31.12.2332 - 32.42.2424</p>
            </div>
            <div class="col-12 col-sm-6">
              <p class="organization-content-header">project code</p>
              <p class="organization-content-body">23534</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="row m-0">
            <div class="col-12 col-sm-6">
              <p class="organization-content-header">type banks</p>
              <p class="organization-content-body">stryrtd</p>
            </div>
            <div class="col-12 col-sm-5">
              <p class="organization-content-header">content package</p>
              <p class="organization-content-body">arrow_right ddfgfdfhghdfkgfdhgk</p>
            </div>
            <div class="col-1 d-none d-lg-block p-0">
              <span (click)="isOrganizationMenuOpened = false">expand_less</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown d-flex align-items-center col-1">
      <p class="sign-out mb-0" (click)="onSignOut()">Sign out</p>
    </div>
  </div>



  <div class="toolbar navigation">
    <div class="col-2"></div>
    <div class="dropdown col-3">
      <button class="dropbtn active">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a class="active" href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="col-1 d-flex align-items-center h-100 option-group">
      <img class="md mr-2" src="/assets/img/icons/print.png" alt="">
      <img class="md" src="/assets/img/icons/share.png" alt="">
    </div>

  </div>
</div>

<div class="page-overlay">
  <router-outlet></router-outlet>
</div>