@import '../styles.scss';
@import '../assets/scss/variables.scss';

.toolbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  height: inherit;

  .dropbtn {
    height: inherit;
    font-size: 16px; 
    border: none;
    outline: none;
    color: gray;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    text-transform: uppercase;

    &.active{
      border-bottom: solid 4px $color-accelium-yellow;
      color: white;
    }

  }
}


/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-accelium-bgDark;
  min-width: 160px;
  z-index: 1;
  border-top: solid 4px $color-accelium-yellow;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px;
  margin: -4px;

  a {
    float: none;
    color: gray;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    border-left: solid 4px $color-accelium-bgDark;

    &.active{
      border-left: solid 4px $color-accelium-yellow;
      color: white;
    }

    &:hover
    {
      color: white;
    }
  }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

//
.page-head {
  height: $height-page-head;
  position: relative;

  .toolbar {
    position: absolute;
    height: $height-standart-toolbar;
    width: 100%;
    

    &.top {
      top: 0px;
      background-color: rgba($color-accelium-bgDark, 0.3);
    }

    &.navigation {
      bottom: 0px;
      background-color: $color-accelium-bgDark;
      padding: 0 300px;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: inherit;
  }
}

.page-overlay {
  padding: 100px 200px 20px 200px;
}
