<!--The content below is only a placeholder and can be replaced.-->
<div class="page-head">

  <img class="header-image" src="/assets/img/15554663825950.jpg">

  <div class="toolbar top">
    <div class="dropdown col-8">
      <img src="" alt="">
    </div>
    <div class="dropdown organization col-4 text-right">
      <button class="dropbtn organization-title">Organization info
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="organization-content row text-left">
        <div class="col-lg-5 col-md-12">
          <div class="row h-100">
            <div class="col-4">
              <div class="organization-content-header">Organitation</div>
              <div class="organization-content-body">slovakia banks</div>
            </div>
            <div class="col-3">
                <div class="organization-content-header">Status</div>
                <div class="organization-content-body">Open</div>
            </div>
            <div class="col-5">
                <div class="organization-content-header">period</div>
                <div class="organization-content-body">31.12.2332 - 32.42.2424</div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="row h-100">
            <div class="col-3">project code</div>
            <div class="col-3">type</div>
            <div class="col-5">content package</div>
            <div class="col-1"></div>
          </div>
        </div>
        <!-- <table>
          <tr>
            <th>Organitation</th>
            <th>Status</th>
            <th>period</th>
            <th>project code</th>
            <th>type</th>
            <th>content package</th>
          </tr>
          <tr>
            <td>slovakia banks</td>
            <td>open</td>
            <td>31.12.2332 - 32.42.2424</td>
            <td>Abc2398</td>
            <td>Accelium Growth</td>
            <td>Paid vacations day/sick</td>
          </tr>
        </table> -->
      </div>
    </div>
    <div class="dropdown col-1 d-flex align-items-center option-group">
      <p class="sign-out mb-0">Sign out</p>
    </div>
  </div>



  <div class="toolbar navigation">
    <div class="col-2"></div>
    <div class="dropdown col-3">
      <button class="dropbtn active">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a class="active" href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown col-3">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="col-1 d-flex align-items-center h-100 option-group">
      <img class="md mr-3" src="/assets/img/icons/print.png" alt="">
      <img class="md" src="/assets/img/icons/share.png" alt="">
    </div>

  </div>
</div>

<div class="page-overlay">
  <router-outlet></router-outlet>
</div>