<div class="content-container padded">
  <span class="header central-vertical-align">
    completion
    <i class="material-icons ml-2">help_outline</i>
  </span>

  <div class="row no-gutters">
    <div class="col-3 central-vertical-align">
      <deepwater-radial-gauge [value]="average" 
      [text]="'Average completion rate'" [color]="'#793f85'">
      </deepwater-radial-gauge>
    </div>

    <div class="col-9">
      <deepwater-games-bar-charts
      [gamesData]="gamesData"
      ></deepwater-games-bar-charts>
    </div>

  </div>


</div>