<div class="content-container padded">
  <span class="header central-vertical-align">
    completion
    <i class="material-icons ml-2">help_outline</i>
  </span>

  <div class="row no-gutters">
    <div class="col-xl-3 col-lg-4 col-12 central-vertical-align justify-content-lg-start justify-content-center">
      <deepwater-radial-gauge [value]="average" 
      [text]="'Average completion rate'" [color]="'#0f5da5'">
      </deepwater-radial-gauge>
    </div>

    <div class="col-xl-9 col-lg-8 col-12">
      <deepwater-games-bar-charts
      [gamesData]="gamesData"
      ></deepwater-games-bar-charts>
    </div>
  </div>
</div>