<div class="content-container padded">
  <div class="row no-gutters">
    <div class="col-xl-6 col-12">
      <span class="header central-vertical-allign">
        choose comparison group
        <i class="material-icons ml-2">help_outline</i>
      </span>
    </div>
    <div class="col-xl-6 col-12 central-vertical-allign">
      <i class="material-icons select-arrow central-vertical-allign">keyboard_arrow_down</i>
      <select name="">
        <option value="" selected disabled hidden>{{defaultOption}}</option>
        <option value="1">stud 1</option>
        <option value="2">stud 2</option>
        <option value="3">stud 3</option>
      </select>
    </div>
  </div>
</div>