@import '../../../styles.scss';
@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/sizes.scss';
@import '../../../assets/scss/theming/theme.scss';


select{
	height: 30px;
	width: 100%;
	border-radius: 5px;
	padding-left: 10px;
	appearance: none;
}

.select-arrow {
	position: absolute;
	right: 10px;
	opacity: .7;
	height: 100%;
}