<kendo-chart >

    <kendo-chart-title text="% Average completion rate"></kendo-chart-title>

    <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [categories]="categories" [labels]="catLabelsConfig" 
         [minorGridLines]="{visible: false}"  
        [majorTicks]="majorTicksConfig" [minorTicks]="{visible: false}"
        [line]="{color: 'transparent'}" [axisCrossingValue]="0">
        </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>

    <kendo-chart-value-axis>
        <kendo-chart-value-axis-item [majorGridLines]="{visible: false}" 
        [minorGridLines]="{visible: false}" [line]="{color: 'transparent'}"
        [majorTicks]="{visible: false}" [minorTicks]="{visible: false}"
        [labels]="valueLabelsConfig" [min]="0" [max]="100" >
        </kendo-chart-value-axis-item>
      </kendo-chart-value-axis>

    <kendo-chart-series>
      <kendo-chart-series-item type="bar" [data]="data" [gap]="100">
      </kendo-chart-series-item>
    </kendo-chart-series>

    <!-- <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>  [majorGridLines]="{visible: false}"-->
  </kendo-chart>