<div class="progress-component content-container padded">
  <span class="header">
    progress
  </span>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 info-section">
      <p>
        fhgfhfghfghfghfghfghfghfghfghfghfhfhfghfgh
        fhfghfghfghfghgfhfghfghfhf
      </p>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12 progress-section">
      <div class="section-inline">
        <span class="number">43</span>
        <span>Registered</span>
      </div>
      <div class="section-inline caret">
        <i class="material-icons-round">keyboard_arrow_right</i>
      </div>
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12 progress-section">
      <div class="section-inline">
        <span class="number">2</span>
        <span>Passive</span>
      </div>
      <div class="section-inline caret">
        <i class="material-icons-round">keyboard_arrow_right</i>
      </div>
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12 progress-section">
      <div class="section-inline">
        <span class="number">1</span>
        <span>Active</span>
      </div>
      <div class="section-inline caret">
        <i class="material-icons-round">keyboard_arrow_right</i>
      </div>
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12 progress-section">
      <div class="section-inline">
        <span class="number">25</span>
        <span>Completed</span>
      </div>
    </div>
  </div>
</div>
