@import '../../../../assets/scss/colors.scss';

.laurel-leaf {
    width: 142px;
    height: 109px;
    text-align: center;
    background-repeat: no-repeat;

    p {
        color: $color-gray;
        margin: 0;
        font-size: 40px;
	}
	
	.laurel-leaf-description {
		max-width: 65%;
		margin: 0 auto;
		position: relative;
		bottom: 10px;

		p {
			font-size: 16px;
		}
	}
}