<div class="row no-gutters pb-4 score-rate-component">

  <div class="col-12 pb-4 pt-2">
    <div class="row no-gutters">
      <div class="col-4">
        <div class="table-header-cell pl-4">
          Assesed skills
        </div>
      </div>
      <div class="col-8 score-rate">
        <div style="background-color: red"><span>Poor</span></div>
        <div style="background-color: orange"><span>Fair</span></div>
        <div style="background-color: greenyellow"><span>Good</span></div>
        <div style="background-color: green"><span>Very Good</span></div>
        <div style="background-color: violet"><span>Excellent</span></div>
      </div>
    </div>
  </div>

  <div class="col-12 px-4" *ngFor="let skill of skillsData">
    <div class="row no-gutters">
      <div class="col-4">
        <p>{{ skill.title }}</p>
      </div>
      <div class="col-8">
        <div class="row no-gutters input-field">
          <div class="col-2">0</div>
          <div class="col-2"><input type="number" min="1" max="99" [value]="skill.poor"></div>
          <div class="col-2"><input type="number" min="1" max="99" [value]="skill.fair"></div>
          <div class="col-2"><input type="number" min="1" max="99" [value]="skill.good"></div>
          <div class="col-2"><input type="number" min="1" max="99" [value]="skill.veryGood"></div>
          <div class="col-2 text-right">100</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 px-4">
    <button class="table-header-cell">Apply</button>
    <button class="table-header-cell ml-2 mr-4">Cancel</button>
    <button class="table-header-cell">Set to our criteria</button>
  </div>
</div>