@import "./assets/scss/variables.scss";
@import "~@progress/kendo-theme-default/scss/all";

*{
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.content-container{
    margin: $margin-content-containers;
}

