@import './assets/scss/colors.scss';
@import './assets/scss/sizes.scss';
@import "~@progress/kendo-theme-default/scss/all";

$report-header-height: 50px;

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.content-container {
  margin: $margin-content-containers;
  border-radius: 5px;
  border: solid gray 1px;
  box-shadow: 0 0 7px gray;

  &.padded {
    padding: 25px;
  }

  .header{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    display: block;
  }
}

img {
  &.s-size {
    width: $small-icon-size;
    height: $small-icon-size;
  }

  &.m-size {
    width: $medium-icon-size;
    height: $medium-icon-size;
  }

  &.l-size {
    width: $large-icon-size;
    height: $large-icon-size;
  }

  &.xl-size {
    width: $extra-large-icon-size;
    height: $extra-large-icon-size;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
