<div class="bulletchart-area">
  <!-- <div class="row no-gutters central-vertical-align">
    <div class="col-8 offset-lg-4">
    </div>
  </div> -->

  <div class="row no-gutters central-vertical-align" *ngFor="let data of bulletChartData">
    <div class="col-3">
      {{data.name}}
    </div>
    <div class="col-1">
      <span> {{data.value}}</span>
    </div>
    <div class="col-8">

      <kendo-chart style="height: 35px;">
        <kendo-chart-series >

          <kendo-chart-series-item  
          type="bullet" [data]="[[0, data.boundary]]"
          [labels]="labelsConfig"
          ></kendo-chart-series-item>
s>

          <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [majorGridLines]="hidden" [minorGridLines]="hidden">
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>

          <kendo-chart-value-axis>
            <kendo-chart-value-axis-item [majorGridLines]="hidden" 
            [minorTicks]="{visible: true}" [min]="0" [max]="100"
              [plotBands]="data.plotBands" [visible]="false">
            </kendo-chart-value-axis-item>
          </kendo-chart-value-axis>
        </kendo-chart-series>
      </kendo-chart>
    </div>
  </div>
</div>
