<div class="theme-purpletheme">

  <deepwater-page-head
  [title]="comparer1Profile.examinee"
  ></deepwater-page-head>

  <div class="page-overlay">
    <div class="content-overlay">

      
      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-comparison-group [optionsCollection]="personalScoreData" 
          [(selected)]="comparer2Profile" >
          </deepwater-comparison-group>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-6">
          <deepwater-person-completion [personalScore]="comparer1Profile"></deepwater-person-completion>
        </div>
        <div class="col-6">
          <deepwater-person-completion [personalScore]="comparer2Profile"></deepwater-person-completion>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-barcharts-comparison [comparisonData]="[comparer1Profile, comparer2Profile]">
          </deepwater-barcharts-comparison>
        </div>
      </div>


      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-progress-widget [registered]="25" [passive]="2" [active]="7" [completed]="16">
          </deepwater-progress-widget>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">

          <deepwater-personal-scores-distribution
          [personalScores]="personalScoreData"
          >
          </deepwater-personal-scores-distribution>

        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <deepwater-personal-reports [personalScoreData]="personalScoreData">
            
          </deepwater-personal-reports>
        </div>
      </div>

    </div>
  </div>

</div>