<div class="content-container padded">
  <div class="row no-gutters">
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <span class="username central-vertical-align">
        <i class="material-icons mr-2">person</i>
        Pavlo Petrenko
      </span>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <span class="d-block">User name:</span>
      <span class="d-block font-weight-bold">frdsfdf</span>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <span class="d-block">Last seen:</span>
      <span class="d-block font-weight-bold">fdsfdsfdsf</span>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <span class="d-block">Last visited:</span>
      <span class="d-block font-weight-bold">sdfdsfdsf</span>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12 central-vertical-align">
      <i class="material-icons mr-2 opacity-icon">print</i>
      <i class="material-icons opacity-icon">share</i>
    </div>
  </div>
</div>