@import '../../../styles.scss';
@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/sizes.scss';

.material-icons {
  font-size: 30px;
}

.username {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  .material-icons{
    font-size: 34px;
  }
}

.d-block {
  font-size: 20px;
}

.opacity-icon {
  opacity: .7;
  font-size: 24px;
}
