<div class="content-container padded">
  <div class="row no-gutters">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <i class="material-icons">person</i>
      <span class="username">user name</span>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <span class="block">User name:</span>
      <span class="block bold">frdsfdf</span>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <span class="block">Last seen:</span>
        <span class="block bold">fdsfdsfdsf</span>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <span class="block">Last visited:</span>
        <span class="block bold">sdfdsfdsf</span>
    </div>
  </div>
</div>
